@font-face {
    font-family: 'Inca';
    font-weight: normal;
    src: url('/assets/inca.otf') format('opentype');
}

body {
    min-width: 1440px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

.section {
    min-height: 610px;
}

.section--why-inca {
    min-height: 591px;
}

.section {
    text-align: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    font-size: 20px;

    a {
        border-width: 2px;
        border-style: solid;
        padding: 0 38px;
        line-height: 46px;
        height: 46px;
        display: inline-block;
        text-decoration: none;
        font-size: 14px;
    }

    p {
        margin-bottom: 1.8em;
    }
}

.section__title {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 6px;
    margin-bottom: 0.4em;
}

/* default section style: dark text on light background */
.section,
.tag-dark {
    color: #333333;

    a {
        color: #25639f;
        border-color: #25639f;
    }
}

/* alternate section style: light text on dark background */
.tag-light {
    color: #ffffff;

    a {
        color: #ffffff;
        border-color: #ffffff;
    }
}

.section__layout {
    margin: 120px auto;
}

/* default section style: center-aligned */
.section__layout {
    .section &,
    .tag-center & {
        width: 830px;
    }
}

/* alternate section style: left-aligned */
.tag-left {
    background-position: bottom right;
}

.section__layout {
    .tag-left & {
        width: 505px;
        margin-left: 120px;
    }
}

/* default section style: contain (i.e. just place the background image) */
.section,
.tag-contain {
    background-size: auto;
}

/* alternate section style: cover (expand bg to cover the section) */
.tag-cover {
    background-size: cover;
}

/* special case: table for that one home page section */
.section__table {
    font-size: 16px;
    position: absolute;
    width: 500px;
    top: 90px;
    right: 210px;
}

.section__table ul {
    list-style-type: none;
    text-align: left;
    border: 2px white solid;
    padding: 0;
}

.section__table li {
    line-height: 58px;
    border-bottom: 2px white solid;

    &:last-child {
        border-bottom: none;
    }
}

.section__table strong {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    margin-right: 0.3em;
    letter-spacing: 5px;
}

.section__table em {
    font-family: 'Inca';
    font-size: 51px;
    text-transform: uppercase;
    font-style: normal;
    margin-right: 0.3em;
    position: relative;
    top: -4px;
}

.section__table a {
    display: block;
    border: none;
    padding: 0 15px;
    line-height: 46px;
    height: 58px;
}

.destination__header {
    width: 100%;
    height: 520px;
    position: relative;
}

.destination__meta {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;

    font-size: 30px;
    font-weight: 300;

    color: white;
}

.destination__meta p {
    position: static;
}

.destination__meta strong {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 6px;
    text-transform: uppercase;
    max-width: 990px;
}

.destination__meta em {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-style: normal;
}
