.clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.button {
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    padding: 11px 38px;
    line-height: 1.4;
    letter-spacing: 0;
    text-transform: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: none;
}

@font-face {
    font-family: 'Inca';
    font-weight: normal;
    src: url('/assets/inca2.otf') format('opentype');
}

body {
    min-width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #333333;
}

@media screen and (min-width: 1214px) {
    // TODO: delete me 
    .homepage {
        min-width: 1214px;
        padding-top: 0;
    }
}

hr {
    color: #cccccc;
    background-color: #cccccc;
}

h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0.6em 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    height: 62px;
    box-sizing: border-box;
    padding: 10px;
    //background: rgba(0, 6, 12, 0.85);
    background: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    border-bottom: 1px #f1f1f1 solid;
    text-shadow: none;

    .clearfix;
}

@media screen and (min-width: 768px) {
    .header {
        height: 100px;
        padding: 16px;
    }
}

@media screen and (min-width: 1214px) {
    .header {
        .homepage & {
            position: absolute;
            bottom: 0;
            top: auto;

            .header-lock & {
                position: fixed;
                top: 0;
                bottom: auto;
            }
        }
    }
}

.header__logo {
    float: left;
}

.logo--large {
    display: none;
}

@media screen and (min-width: 768px) {
    .logo--large {
        display: inline-block;
    }
}

.logo--large img {
    height: 68px;
}

.logo--small {
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .logo--small {
        display: none;
    }
}

.logo--small img {
    height: 42px;
}

.header__content {
    float: right;
    line-height: 42px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #666;
}

@media screen and (min-width: 768px) {
    .header__content {
        line-height: 68px;
    }
}

.header__content p {
    margin: 0;
    display: none;
}

@media screen and (min-width: 768px) {
    .header__content p {
        display: inline-block;
    }
}

.header-nav {
    position: relative;
}

@media screen and (min-width: 768px) {
    .header-nav {
        margin-left: 20px;

        &:before {
            content: ' ';
            display: block;
            width: 1px;
            height: 15px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            background: #ccc;
        }
    }
}

.destination__content {
    line-height: 1.7;

    .destination--two-columns & {
        position: relative;
    }

    .destination--one-column & {
        position: relative;
    }
}

.destination__content p {
    margin-bottom: 1.67em;
}

.destination__content h1 {
    line-height: 1.4;
}

.destination__content h2 {
    font-size: 16px;
    margin-bottom: 0;
}

.destination__content h2 + p {
    margin-top: 0;
}

.section {
    text-align: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    font-size: 14px;

    padding: 20px;

    p {
        margin-bottom: 1.8em;
    }
}

.tag-full-width {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .section {
        font-size: 20px;
    }
}

@media screen and (max-width: 1213px) {
    .tag-center {
        padding-top: 110px;
        padding-bottom: 110px;
    }
}

@media screen and (min-width: 1214px) {
    // TODO: delete me ?
    .section {
        min-height: 610px;
    }
}

p > a:first-child {
    .homepage .section & {
        border-width: 2px;
        border-style: solid;
        padding: 11px 38px;
        line-height: 1.4;
        display: inline-block;
        text-decoration: none;
        font-size: 14px;
    }
}

.section__title {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 4px;
    margin-bottom: 0;

    .tag-full-width & {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .section__title {
        font-size: 60px;
        letter-spacing: 6px;
        margin-bottom: 0.4em;
    }
}

/* default section style: dark text on light background */
.section,
.tag-dark {
    color: #333333;

    a {
        color: #25639f;
        border-color: #25639f;
    }
}

/* alternate section style: light text on dark background */
.tag-light {
    color: #ffffff;

    a {
        color: #ffffff;
        border-color: #ffffff;
    }
}

.section__layout {
    position: relative;

    .tag-center & {
        max-width: 830px;
        margin-left: auto;
        margin-right: auto;
    }

    .tag-gallery & {
        max-width: 1022px;
    }

    .tag-left & {
        max-width: 505px;
        margin-left: auto;
        margin-right: auto;
    }

    .tag-newsletter & {
        max-width: 505px;
        margin-left: auto;
        margin-right: auto;
    }
}

.tag-center {
    background-position: center center;
}

/* alternate section style: left-aligned */
.tag-left {
    background-position: bottom right;
    background-size: contain;
    padding-bottom: 60%;
}

.tag-newsletter {
    background-position: bottom center;
    padding-bottom: 70%;
}

@media screen and (min-width: 784px) {
    .tag-newsletter {
        padding-bottom: 540px
    }
}

.section--not-typical-tourist-attractions {
    padding-bottom: 60px;
}

.section--our-most-popular-trips {
    padding-bottom: 0;
}

@media screen and (min-width: 1214px) {
    .tag-left {
        padding-bottom: 0;
    }

    .tag-newsletter {
        padding-bottom: 0;
        background-size: contain;
        background-position: bottom left;
    }

    .section__layout {
        width: 1214px;
        padding: 0 10px;

        margin: 120px auto;

        .section--why-inca & {
            margin-top: 165px;
        }

        .section--our-most-popular-trips & {
            margin-bottom: 0;
        }

        .tag-center &,
        .tag-left &,
        .tag-newsletter & {
            max-width: 1214px;
        }

        .tag-newsletter & {
            float: none;
        }

        .tag-full-width & {
            width: auto;
            padding: 0;
            margin: 0;
        }
    }

    .section__title,
    .section .sqs-layout, 
    .tag-center .section__title,
    .section.tag-center .sqs-layout {
        width: 830px;
        margin-left: auto;
        margin-right: auto;
    }

    .section__title,
    .tag-center .section__title {
        width: 1022px;
    }

    .tag-gallery .section__title,
    .section.tag-gallery .sqs-layout {
        width: 1022px;
    }

    .tag-left .section__title,
    .section.tag-left .sqs-layout {
        width: 505px;
        margin-left: 0;
        margin-right: 0;
    }

    .tag-newsletter .section__title,
    .section.tag-newsletter .sqs-layout {
        width: 440px;
        margin-left: 0;
        margin-right: 86px;
        float: right;
        clear: right;
    }

    .section.tag-full-width .sqs-layout {
        width: auto;
    }

}

/* default section style: contain (i.e. just place the background image) */
.section,
.tag-contain {
    background-size: contain;
}

/* alternate section style: cover (expand bg to cover the section) */
.tag-cover {
    background-size: cover;
    text-shadow: 0 0 1px rgba(0,0,0,0.8);
}

.tag-newsletter {
    background-size: contain;
}

@media screen and (min-width: 784px) {
    .tag-newsletter {
        background-size: auto;
    }
}

@media screen and (min-width: 1214px) {
    .tag-newsletter {
        background-size: contain;
    }
}

/* special case: table for that one home page section */
.section__table {
    max-width: 500px;
}

@media screen and (max-width: 399px) {
    .section__table,
    .section__table a,
    .tag-places .markdown-block a {
        font-size: 0;
    }
}

@media screen and (min-width: 1214px) {
    .section__table {
        position: absolute;
        width: 500px;
        top: -28px;
        right: 10px;
        font-size: 16px;
    }
}

.section__table ul,
.tag-places .markdown-block ul {
    list-style-type: none;
    text-align: left;
    border: 2px white solid;
    padding: 0;
}

.section__table li,
.tag-places .markdown-block li {
    line-height: 58px;
    border-bottom: 2px white solid;
    margin-bottom: 0;

    &:last-child {
        border-bottom: none;
    }
}

.section__table strong,
.tag-places .markdown-block strong {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 18px;
    margin-right: 0.3em;
}

@media screen and (min-width: 768px) {
    .section__table strong,
    .tag-places .markdown-block strong {
        font-size: 30px;
        letter-spacing: 4px;
    }
}

.section__table em,
.tag-places .markdown-block em {
    font-family: 'Inca';
    font-size: 51px;
    text-transform: none; 
    font-style: normal;
    margin-right: 0.3em;
    position: relative;
    top: 1px;
}

@media screen and (min-width: 768px) {
    .section__table em,
    .tag-places .markdown-block em {
        top: -4px;
    }
}

.section__table a,
.tag-places .markdown-block a {
    text-decoration: none;

    display: block;
    border: none;
    padding: 0 15px;
    line-height: 18px;
    height: 45px;
}

@media screen and (min-width: 768px) {
    .section__table a,
    .tag-places .markdown-block a {
        font-size: 16px;
        line-height: 46px;
        height: 58px;
    }
}

.destination__header {
    width: 100%;
    height: 324px;
    position: relative;
    text-shadow: 0 0 1px rgba(0,0,0,0.8);

    .destination--short-header & {
        height: 305px;
    }

    &:after {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background: radial-gradient(circle, rgba(4,45,86,0) 0%, rgba(4,45,86,0.4) 55%, rgba(4,45,86,1) 100%);
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;

        z-index: 1;
    }
}

@media screen and (min-width: 768px) {
    .destination__header {
        height: 520px;

        .destination--short-header & {
            height: 305px;
        }
    }
}

.destination__meta {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    margin-top: 28px;

    text-align: center;
    font-size: 20px;
    font-weight: 300;

    color: white;

    z-index: 2;

    box-sizing: border-box;
    padding: 0 10px;
}

@media screen and (min-width: 768px) {
    .destination__meta {
        font-size: 30px;
        margin-top: 48px;
    }
}

.destination__meta p {
    margin: 10px auto;
}

.destination__meta p:last-child {
    line-height: 1;
}

.destination__meta strong {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 6px;
    text-transform: uppercase;
    max-width: 990px;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .destination__meta strong {
        font-size: 60px;
        letter-spacing: 6px;
        font-weight: 300;
    }
}

.destination__meta em {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-style: normal;
}

@media screen and (min-width: 768px) {
    .destination__meta em {
        font-size: 14px;
    }
}

.subnav {
    text-align: center;
    border-bottom: 1px #cccccc solid;
    max-width: 1022px;
    margin: 0 auto 12px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    line-height: 0;
    font-size: 0;
}

@media screen and (min-width: 768px) {
    .subnav {
        margin-bottom: 64px;
    }
}

.subnav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    display: inline-block;
    white-space: nowrap;
}

.subnav__item {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

@media screen and (min-width: 768px) {
    .subnav__item {
        font-size: 14px;
    }
}

.subnav__item a {
    color: #333333;
    text-decoration: none;
    display: block;
    padding: 6px 4px 9px;
    width: 105px;
    min-height: 73px;
}

@media screen and (min-width: 768px) {
    .subnav__item a {
        padding: 27px 23px;
        width: 94px;
        min-height: 99px;
    }
}

/* hack so we can have a meaningful-ish navigationTitle and only use the first letter
   to load the appropriate icon */
.subnav__item i {
    font-size: 0;
    display: block;
    margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
    .subnav__item i {
        margin-bottom: 27px;
    }
}

.subnav__item i::first-letter {
    font-size: 55px;
    font-family: 'Inca';
    font-style: normal;
    text-transform: none;
}

@media screen and (min-width: 768px) {
    .subnav__item i::first-letter {
        font-size: 75px;
    }
}

.subnav__item a i::first-letter {
    color: #25639f;
}

.subnav__item span {
    letter-spacing: 1px;
    white-space: normal;
}

.subnav__item {
    transition: opacity 0.1s ease-out;
}

.subnav__item:hover,
.subnav__item--active {
    opacity: 0.5;
    transition: opacity 0.1s ease-in;
}

.subnav__item--active a:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 4px;
    background: #999;
}

.destination__content {
    max-width: 1042px;
    margin: 0 auto 128px;
    padding: 0 10px;
    box-sizing: border-box;
}

/* overriding sqspc widget styles */
.sqs-block-image .sqs-image-caption p,
.sqs-block-image .image-caption p {
    font-style: italic;
    font-size: 14px;
    line-height: 1.45;
}

.sqs-block-image .sqs-image-caption p strong,
.sqs-block-image .image-caption p strong {
    font-style: normal;
}

.sqs-gallery-controls .previous,
.sqs-gallery-controls .next {
    padding: 2px 9px;
    background-color: #25639f;
    margin-top: -21px;
}

@media screen and (min-width: 768px) {
    .sqs-gallery-controls .previous,
    .sqs-gallery-controls .next {
        padding: 22px 26px;
        margin-top: -42px;
    }
}

.sqs-gallery-controls .previous:before,
.sqs-gallery-controls .next:before {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

@media screen and (min-width: 768px) {
    .sqs-gallery-controls .previous:before,
    .sqs-gallery-controls .next:before {
        font-size: 24px;
        width: 24px;
        height: 24px;
        line-height: 24px;
    }
}

.sqs-gallery-controls .previous:hover,
.sqs-gallery-controls .next:hover {
    background-color: #2c70b2;
}

.sqs-gallery-controls .previous:active,
.sqs-gallery-controls .next:active {
    background-color: #245a8e;
}

.sqs-gallery-controls .previous {
    left: -19px;

    .tag-full-width & {
        left: 0;
    }
}

@media screen and (min-width: 768px) {
    .sqs-gallery-controls .previous {
        left: -37px;

        .tag-full-width & {
            left: 0;
        }
    }
}

.sqs-gallery-controls .next {
    right: -19px;

    .tag-full-width & {
        right: 0;
    }
}

@media screen and (min-width: 768px) {
    .sqs-gallery-controls .next {
        right: -37px;

        .tag-full-width & {
            right: 0;
        }
    }
}

.sqs-gallery-block-grid .slide .margin-wrapper .image-slide-anchor {
    position: relative;
}

.sqs-gallery-block-grid .slide .margin-wrapper .image-slide-title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    pointer-events: none;
}

.sqs-block-image .image-block-outer-wrapper.layout-caption-overlay .intrinsic .image-caption-wrapper,
.sqs-block-image .image-block-outer-wrapper.layout-caption-overlay-hover .intrinsic .image-caption-wrapper {
    top: 0;
    padding: 0;
    text-align: center;
    background: rgba(0,0,0,.2);
}

.sqs-block-image .image-block-outer-wrapper.layout-caption-overlay .intrinsic .image-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.sqs-block-image .image-block-outer-wrapper.layout-caption-overlay .intrinsic .image-caption p {
    color: white;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
}

/*  TODO: not sure when we actually want to use this
.sqs-layout > .sqs-row {
    margin-left: -10px;
    margin-right: -10px;
}
*/

@media screen and (max-width: 48em) {
    .sqs-gallery-design-grid-slide {
        margin: 0 !important;
    }
}

/* destination grid items, like in the trip finder */
.destination-item {
    width: 100%;
    height: 370px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media screen and (min-width: 768px) {
    .destination-item {
        height: 470px;
    }
}

.destination-item img {
    z-index: -1;
}

.destination-item a {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;

    color: white;

    &:before {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background: radial-gradient(circle, rgba(4,45,86,0) 0%, rgba(4,45,86,0.4) 55%, rgba(4,45,86,1) 100%);
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.destination-item__desc {
    position: absolute;
    left: 20px;
    bottom: 0px;
    right: 20px;
    max-width: 420px;

    .tag-small & {
        width: auto;
    }
}

@media screen and (min-width: 768px) {
    .destination-item__desc {
        left: 40px;
        bottom: 25px;
        right: 40px;
    }
}

.destination-item__title {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .destination-item__title {
        font-size: 30px;
    }
}

.destination-item__meta {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 24px;
    font-weight: 300;
}

@media screen and (min-width: 768px) {
    .destination-item__meta {
        top: 25px;
        right: 40px;
        font-size: 30px;
    }
}

.destination-item__meta p {
    margin: 0;
}

.destination-grid {
    overflow: hidden;
    margin-right: -5px;
    margin-left: -5px;
}

.destination-item {
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .tag-small {
        width: 50%;
        height: 370px;
    }
}

.site-menu {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;

    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 543px;
    box-sizing: border-box;
    padding: 6px 24px 24px 24px;

    z-index: 1001;

    overflow: auto;
    max-height: 100%;

    display: none;
}

.site-menu__bg {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 543px;
    height: 100%;
    z-index: 1001;
    background: #25639f;

    transform: translate3d(100%, 0, 0);
}

.prepare-menu {
    .site-menu,
    .site-menu__bg {
        display: block;
    }

    .site-menu__bg {
        transform: translate3d(100%, 0, 0);
        transition: transform 0.125s ease-out 0.05s;
    }
}

.show-menu {
    .site-menu__bg {
        transform: translate3d(0, 0, 0);
        transition: transform 0.25s ease-in 0s;
    }
}

.show-menu {
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .site-menu {
        padding: 26px 40px 40px 40px;
    }
}

.site-menu__underlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1001;

    display: none;
    opacity: 0;
}

.prepare-menu .site-menu__underlay {
    display: block;
    opacity: 0;

    transition: opacity 0.125s ease-out 0s;
}

.show-menu .site-menu__underlay {
    opacity: 1;
    transition: opacity 0.2s ease-in 0s;
}

.site-menu__content {
    display: none;
    opacity: 0;
    position: relative;
}

.prepare-menu .site-menu__content {
    display: block;
    opacity: 0;
    transition: opacity 0.125s ease-in 0s;
}

.show-menu .site-menu__content {
    opacity: 1;
    transition: opacity 0.25s ease-in 0.1s;
}

.site-menu a {
    color: white;
    text-decoration: none;
}

.site-nav {
    list-style-type: none;
    margin-top: 60px;
    position: relative;
}

.site-nav__item {
    margin-bottom: 14px;
}

.sub-nav {
    font-size: 20px;
    text-transform: none;
    margin-top: 10px;

    list-style-type: none;
}

.sub-nav a {
    color: rgba(255, 255, 255, 0.5);
}

.sub-nav__item {
    margin-bottom: 10px;
}

.header__content * {
    display: inline-block;
}

.site-menu__close {
    border: none;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: white;

    position: absolute;
    top: -65px;
    left: 0;
    z-index: 1;
}

.site-menu__open {
    border: none;
    background: none;
    font-family: 'Open Sans', sans-serif;
    color: #666;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0 20px;
}

.site-menu__open,
.site-menu__close {
    outline: none;
    transform: translateY(0);

    &:active {
        transform: translateY(1px);
    }
}

.nection {
    box-sizing: border-box;
    text-align: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    font-size: 14px;

    padding: 20px;
}

@media screen and (min-width: 768px) {
    .nection {
        font-size: 20px;
        padding: 60px 20px;
    }
}

@media screen and (min-width: 1214px) {
    .nection {
        min-height: 610px;

        &:first-child {
            padding-top: 60px 20px;
        }
    }

    .intro + .nection {
        padding-top: 140px;
    }
}

.nection .sqs-layout {
    max-width: 430px;
    margin: 0 auto;
}

.tag-places .sqs-layout {
    max-width: 470px;
}

@media screen and (max-width: 767px) {
    .intro .sqs-layout {
        max-width: 310px;
    }
}

@media screen and (min-width: 1214px) {
    .nection .sqs-layout, 
    .tag-places .sqs-layout {
        max-width: 1214px;
    }
}

.nection h1 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 4px;
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .nection h1 {
        font-size: 60px;
        letter-spacing: 6px;
        margin-bottom: 0.4em;
    }
}

@media screen and (min-width: 1214px) {
    .nection h1 {
        margin: 0 -20px 0.4em;
    }
}

.nection p {
    margin-bottom: 1.8em;
}

.tag-bg-none {
    background: none !important;
}

.tag-bg-right {
    background-position: bottom right;
    background-size: 350px auto;
    padding-bottom: 250px;
}

@media screen and (min-width: 768px) {
    .tag-bg-right {
        padding-bottom: 350px;
        background-size: 700px auto;
    }
}

@media screen and (min-width: 1214px) {
    .tag-bg-right {
        padding-bottom: 20px;
        background-size: auto;
    }
}

.tag-bg-full {
    background-size: cover;
    background-position: center; 
    padding: 140px 20px;
}

@media screen and (max-width: 1213px) {
    .nection .sqs-layout [class*=sqs-col] {
        float: none !important;
        width: auto !important;
    }
}

.tag-image-flush-bottom {
    padding-bottom: 0;
}

@media screen and (max-width: 48em) {
    .tag-image-flush-bottom {
        .sqs-layout .sqs-row .sqs-block:last-child {
            padding-bottom: 0 !important;
        }
    }
}

.tag-image-flush-bottom .sqs-layout:not(.sqs-editing) .sqs-row .sqs-block.spacer-block:last-child {
    height: 0;
}

@media screen and (min-width: 1214px) {
    .tag-image-flush-bottom {
        min-height: 0;
        padding-top: 130px;
    }
}

.tag-nu-gallery {
    padding: 20px;
}

.tag-nu-gallery .sqs-layout {
    max-width: none; 
}

@media screen and (min-width: 768px) {
    .tag-nu-gallery .sqs-layout {
        max-width: 988px;
    }
}

@media screen and (min-width: 1214px) {
    .tag-nu-gallery {
        padding: 140px 20px;
    }

    .tag-nu-gallery .sqs-layout {
        max-width: 1214px;
    }
}

@media screen and (min-width: 1214px) {
    .nection--stay-in-the-loop {
        margin-bottom: -80px;
        padding-top: 120px;
    }

    .nection--stay-in-the-loop .sqs-block-image .image-block-wrapper {
        top: -80px;
    }
}

.sqs-block-button .sqs-block-button-element,
.form-block .lightbox-handle {
    .button;
}

@media screen and (min-width: 768px) {
    .sqs-block-button .sqs-block-button-element--large {
        font-size: 27px;
        font-weight: 300;
    }
}

/* default section style: dark text on light background */
.content,
.nection,
.tag-dark {
    .sqs-block-button .sqs-block-button-element,
    .form-block .lightbox-handle {
        color: #25639f;
        border-color: #25639f;
    }
}

/* alternate section style: light text on dark background */
.tag-light {
    .sqs-block-button .sqs-block-button-element,
    .form-block .lightbox-handle {
        color: #ffffff;
        border-color: #ffffff;
    }
}

.small-button-style-solid .sqs-block-button .sqs-block-button-element--small:hover,
.medium-button-style-solid .sqs-block-button .sqs-block-button-element--medium:hover,
.large-button-style-solid .sqs-block-button .sqs-block-button-element--large:hover {
    opacity: 1;
    transition: none;
}

.tag-full-width {
    padding: 0;
}

@media screen and (min-width: 768px) {
    .tag-full-width {
        padding: 0;
    }
} 

.tag-full-width .sqs-layout {
    max-width: none;
}

.homepage {
    background-color: black;

    .video-ready & {
        background-color: white;
        transition: background-color 0.1s ease-in 0.5s;
    }
}

.homepage .content,
.homepage .site-footer {
    background-color: white;

    .video-ready & {
        background-color: transparent;
        transition: background-color 0.1s ease-in 0.5s;
    }
}

.homepage .body {
    opacity: 0;
    transition: opacity 0.3s ease-in;

    .video-ready & {
        opacity: 1;
    }
}

.intro {
    position: relative;
    min-width: 320px;
    text-shadow: 0 0 1px rgba(0,0,0,0.8);
}

.intro:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    //background: radial-gradient(circle, rgba(4,45,86,0) 0%, rgba(4,45,86,0.4) 55%, rgba(4,45,86,1) 100%);
    background: radial-gradient(circle, rgba(4,45,86,0) 0%, rgba(4,45,86,0.5) 75%, rgba(4,45,86,1) 100%);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;

    z-index: 1;
}

.intro__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 430px;

    z-index: 1;
}

@media screen and (max-width: 1213px) {
    .intro__content .sqs-block-spacer {
        height: 0 !important;
        padding: 0 !important;
    }
}

@media screen and (min-width: 1214px) {
    .intro__content {
        max-width: 1214px;
        margin-top: -65px;
    }

    .intro__content h1 {
        margin: 0 -30px 0;
    }

    .intro__content h1 + p {
        margin-top: 8px;
    }
}

.intro__scroll {
    background: none;
    border: none;
    padding: 0 4px 42px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-shadow: 0 0 1px rgba(0,0,0,.8);

    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;

    position: absolute;
    left: 50%;
    bottom: 70px;

    &:after {
        transform: rotate(-90deg);
        font-family: 'squarespace-ui-font';
        font-style: normal;
        speak: none;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        content: "\e02c";
        text-align: center;
        display: inline-block;
        vertical-align: middle;

        font-size: 32px;
        line-height: 32px;
        height: 32px;
        width: 32px;

        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -16px;
    }
}

@media screen and (min-width: 1214px) {
    .intro__scroll {
        bottom: 138px;

    }
}

.sqs-modal-lightbox-content .lightbox-background {
    background: white;
    opacity: 0.8;
}

.sqs-modal-lightbox-content .lightbox-inner .lightbox-content {
    background: #25639f;
    color: white;
    max-width: 470px;
    padding: 86px 36px 36px;
}

@media screen and (min-width: 540px) {
    .sqs-modal-lightbox-content .lightbox-inner .lightbox-content {
        padding: 86px;
    }
}

.sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper .form-title {
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    white-space: normal;
    overflow: visible;
    text-overflow: none;
}

.sqs-modal-lightbox-content .lightbox-inner .lightbox-content .lightbox-close {
    color: white;
}

.sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper .form-inner-wrapper form {
    margin-top: 20px;
}

.sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper .field-list .field .field-element {
    background: none;
    border: none;
    border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
    padding-left: 0;
    padding-right: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    color: white;
}

.sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper .field-list .field .field-element:focus {
    background: none;
    transition: none;
}

.sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper .field-list .title {
    display: none;
}

.sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper input[type=submit] {
    .button;

    border-color: white;
}

.sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper input[type=submit] {
    margin-top: 20px;
}

.sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper input::-moz-placeholder {
    opacity: 1;
    color: white;
}

.sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper ::-webkit-input-placeholder {
    color: white;
}

.sqs-modal-lightbox-content .lightbox-inner .lightbox-content .form-wrapper .form-button-wrapper--align-center {
    text-align: left;
}

.site-footer {
    padding-top: 0;
}

@media screen and (min-width: 768px) {
    .site-footer {
        padding-top: 0;
        min-height: 0;
        font-size: 16px;
    }
}

/* there be dragons ahead */

.nection--testimonials .sqs-gallery {
    overflow: hidden;
    height: 500px !important;
}

@media screen and (min-width: 768px) {
    .nection--testimonials .sqs-gallery {
        height: 610px !important;
    }
}

.nection--testimonials .sqs-gallery-block-slideshow {
    background: #25639f;
}

.nection--testimonials .sqs-gallery-block-slideshow.sqs-gallery-block-show-meta .meta {
    height: 100% !important;
}

@media only screen and (max-width: 480px) {
    .nection--testimonials .sqs-gallery-block-slideshow .meta {
        display: block !important;
    }
}

.nection--testimonials .sqs-gallery-block-slideshow.sqs-gallery-block-show-meta .meta .meta-inside {
    max-width: 300px;
    padding: 38px;
    box-sizing: border-box;
    background: none;

    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

/* this next part is the absolute worst, but we have to work around sqs's black box slider layout algo */
@media screen and (min-width: 380px) {
    .nection--testimonials .sqs-gallery-block-slideshow.sqs-gallery-block-show-meta .meta .meta-inside {
        max-width: 360px;
    }
}

@media screen and (min-width: 450px) {
    .nection--testimonials .sqs-gallery-block-slideshow.sqs-gallery-block-show-meta .meta .meta-inside {
        max-width: 430px;
    }
}

@media screen and (min-width: 550px) {
    .nection--testimonials .sqs-gallery-block-slideshow.sqs-gallery-block-show-meta .meta .meta-inside {
        max-width: 530px;
    }
}

@media screen and (min-width: 768px) {
    .nection--testimonials .sqs-gallery-block-slideshow.sqs-gallery-block-show-meta .meta .meta-inside {
        max-width: 738px;
        padding: 38px 76px;
    }
}

@media screen and (min-width: 970px) {
    .nection--testimonials .sqs-gallery-block-slideshow.sqs-gallery-block-show-meta .meta .meta-inside {
        min-width: 900px;
    }
}

@media screen and (min-width: 1214px) {
    .nection--testimonials .sqs-gallery-block-slideshow.sqs-gallery-block-show-meta .meta .meta-inside {
        max-width: 1200px;
        min-width: 1100px;
    }
}

.nection--testimonials .sqs-gallery-block-slideshow .meta .meta-description {
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(0,0,0,0.8);
}

@media screen and (min-width: 768px) {
    .nection--testimonials .sqs-gallery-block-slideshow .meta .meta-description {
        letter-spacing: 2px;
    }
}

.nection--testimonials .sqs-gallery-block-slideshow .meta .meta-description,
.nection--testimonials .sqs-gallery-block-slideshow .meta .meta-description p {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .nection--testimonials .sqs-gallery-block-slideshow .meta .meta-description,
    .nection--testimonials .sqs-gallery-block-slideshow .meta .meta-description p {
        font-size: 30px;
    }
}

.nection--testimonials .sqs-gallery-block-slideshow .meta .meta-description p {
    margin-bottom: 0;
}

.nection--testimonials .sqs-gallery-block-slideshow .meta .meta-description p em {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;

    &:before {
        content: '—';
    }
}

@media screen and (min-width: 768px) {
    .nection--testimonials .sqs-gallery-block-slideshow .meta .meta-description p em {
        font-size: 18px;
        letter-spacing: 0;
    }
}

.nection--testimonials .sqs-gallery-block-slideshow .meta {
    &:before {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background: radial-gradient(circle, rgba(4,45,86,0) 0%, rgba(4,45,86,0.4) 55%, rgba(4,45,86,1) 100%);
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.sqs-block-socialaccountlinks .social-account-list a,
.sqs-block-socialaccountlinks-v2 .social-account-list a,
.sqs-block-socialaccountlinks .social-account-list a:link,
.sqs-block-socialaccountlinks-v2 .social-account-list a:link,
.sqs-block-socialaccountlinks .social-account-list a:visited,
.sqs-block-socialaccountlinks-v2 .social-account-list a:visited {
    color: #999;
}

.social-icons-style-regular.social-icons-color-black .sqs-use--icon, 
.social-icons-style-regular.social-icons-color-white .sqs-use--icon {
    opacity: 0.5 !important;
}

.site-footer {
    padding-bottom: 72px;
}

@media screen and (min-width: 1214px) {
    .site-footer .sqs-layout > .sqs-row {
        margin-top: 50px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.site-footer .sqs-block-socialaccountlinks-v2 {
    margin: 34px 0 0;
}

.site-footer__meta {
    color: #999;
}

.blog,
.blog-article {
    margin-top: 64px;
}

.blog-index__title,
.blog-article__title {
    margin-bottom: 0;

    a {
        color: #333;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.blog-index__meta,
.blog-article__meta {
    margin-top: 0;
    margin-bottom: 1.5em;
    font-weight: 400;

    time {
        font-weight: 700;
    }
}

.destination__content h2.blog-index__meta,
.destination__content h2.blog-article__meta {
    margin-bottom: 1.5em;
}

.pagination {
    text-align: center;
}

.pagination__link {
    font-size: 20px;
    margin: 0 20px;
}

.pagination__link--newer:before,
.pagination__link--older:after {
    font-family: 'squarespace-ui-font';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;

    width: 20px;
    height: 20px;
}

.pagination__link--newer:before {
    content: "\e02c";
    margin-right: 0.5em;
}

.pagination__link--older:after {
    content: "\e02d";
    margin-left: 0.5em;
}
